* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #fd1d1d, #e1306c, #c13584, #833ab4, #5851db, #405de6);
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Inter";
    line-height: 130%;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    margin: 1em auto;
}

img {
    max-width: 80vw;
}

.televisao,
.computador,
.notebook,
.tablet,
.celular,
.tamagotchi{
    display: none;
}

@media (max-width: 319px){
    .tamagotchi {
        display: block;
    }
    h1 {
        font-size: 1rem;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .celular {
        display: block;
    }
    h1 {
        font-size: 1.5rem;
    }
}
@media (min-width: 481px) and (max-width: 768px){
    .tablet {
        display: block;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .notebook {
        display: block;
    }
}
@media (min-width: 1025px) and (max-width: 1200px){
    .computador {
        display: block;
    }
}
@media (min-width: 1201px){
    .televisao {
        display: block;
    }
}